/* src/styles/index.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La page doit remplir tout l'espace vertical */
}

.container {
  flex-grow: 1; /* Prend tout l'espace restant en hauteur */
  padding: 20px;
}
